name: Tests

on: [push, pull_request]

jobs:
  lint-and-ut:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.18

      - name: Golangci Lint
        # https://golangci-lint.run/
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest

      - name: Unit Test
        run: go test -race -covermode=atomic -coverprofile=coverage.out ./...
